@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsUsuarioModel
@{
    var user = Model.usuarios;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @user.id</li>
  <li class="list-group-item"> <b>Nombre: </b> @user.nombre</li>
  <li class="list-group-item"> <b>Apellidos: </b> @user.apellidos</li>
  <li class="list-group-item"><b>Direccion: </b> @user.direccion</li>
  <li class="list-group-item"><b>Ciudad: </b> @user.ciudad</li>
  <li class="list-group-item"><b>Numero de Telefonico: </b> @user.telefono</li>
  
</ul>	

