@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<h1>Listado de Usuario</h1>
<table class="table">
    @foreach (var usuarios in Model.usuarios)
    {
        <tr>
            <td>@usuarios.id</td>
            <td>@usuarios.nombre</td>
            <td>@usuarios.apellidos</td>
            <td>@usuarios.direccion</td>
            <td>@usuarios.telefono</td>
            
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-usuarioId="@usuarios.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
