@page
@model ProyectoCiclo3.App.Frontend.Pages.ListUsuarioModel
@{
}
 
<h1>Listado de Usuario</h1>
<table class="table">
   <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Ciudad</th>
    </thead>

    @foreach (var usuarios in Model.usuarios)
    {
        <tr>
            <td>@usuarios.id</td>
            <td>@usuarios.nombre</td>
            <td>@usuarios.apellidos</td>
            <td>@usuarios.direccion</td>
            <td>@usuarios.telefono</td>
            <td>@usuarios.ciudad</td>
            
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-usuarioId="@usuarios.id"><i class="fas fa-adjust"></i>Ver</a>
               <a class="btn btn-info" asp-page="./Edit" asp-route-usuarioId="@usuarios.id">Editar</a>
           <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@usuarios.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>

              </td>
        </tr>
    }
</table>
