@page
@model ProyectoCiclo3.App.Frontend.Pages.EditServicioModel
@{
    var serv = Model.servicios;
}

  <div class="text-center">
    <form method="post">
      <label for="id" class="form-label">Id:</label>
      <input type="number" class="form-control" id="id" name="id" placeholder="Id" asp-for="@serv.id">
<label for="origen" class="form-label">Origen:</label>
      <input type="number" class="form-control" id="origen" name="origen" placeholder="Origen" asp-for="@serv.origen">
      <label for="detino" class="form-label">Destino:</label>
      <input type="number" class="form-control" id="destino" name="destino" placeholder="Destino" asp-for="@serv.destino">
<label for="encomienda" class="form-label">Encomienda:</label>
      <input type="number" class="form-control" id="encomienda" name="encomienda" placeholder="Encomienda" asp-for="@serv.encomienda">
      <label for="hora" class="form-label">Hora:</label>
      <input type="text" class="form-control" id="hora" name="hora" placeholder="Hora" asp-for="@serv.hora">
<label for="fecha" class="form-label">Fecha:</label>
      <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" asp-for="@serv.fecha">
      <hr>
<button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
